/* CSS Document */
 * {
      margin: 0;
      padding: 0;
   }


p{
color:#CC3366; 
font-size:20px; 
font-family:Arial, 
Helvetica, sans-serif;
border: 2px solid #006666;
border-radius: 20px;
width:200px;
background:#33FFFF;
padding-left:20px;
margin:50px;
}


.lemon {
width: 200px; height: 200px;
background: #F5F240;
border: 1px solid #F0D900;
border-radius: 10px 150px 30px 150px;
margin-left: 40px;
}

.t{
    position: relative;
    z-index: 1;
}
.layer1{
    background-color:#336699;
    width:300px;
    height: 150px;
    z-index: 4;
    position:relative;
}
.layer2{
    background-color:fuchsia;
    width:300px;
    height: 60px;
    position: absolute;
    top: 30%;
    left: 3%;
    z-index: 5;
    opacity: 0.7;
}
.layer3{
    background-color:green;
    width:350px;
    height: 80px;
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 3;}





.block1{
    width: 600px;
    height: 150px;
    background: rgba(255, 0, 0, 0.7);
}


.color{
    margin-top: 60px;
    width: 600px;
    height: 150px;
    background-color: rgba(0, 0, 160, 0.9);
}

.color:hover{
   background-color: rgba(0, 0, 160, 0.3);   
}
























